@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


:root {
    --azul-back: linear-gradient(90deg, rgb(10, 144, 234), rgb(3, 74, 122));
    --white-1: rgba(255, 253, 253, 0.722);
    --box-shadow: 0 5px 20px rgba(48, 48, 48, 0.795);
    --back-input: rgba(249, 248, 248, 0.47);
    --blue-1: rgb(10, 144, 234);
    --blue-hover: rgb(8, 132, 215);
    --white-2: #fff;
    --fonte: 'Inter', sans-serif;;
}



*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--azul-back);
    font-family: var(--fonte);
}

html {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

main {
    background: var(--white-1);
    padding: 3em 2em 2em;
    border-radius: 1.5em;
    box-shadow: var(--box-shadow);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 350px;
}

.form__subtitle {
    position: relative;
    margin-right: auto;
}

.form__input {
    width: 100%;
    padding: 0.6em .4em;
    outline: none;
    margin-bottom: 1em;
    border: none;
    background: var(--back-input);
    font-family: var(--fonte);
}

.form__input::placeholder {
    font-weight: 500;
    font-family: var(--fonte);
}

.form__title {
    text-transform: uppercase;
    margin-bottom: .5em;
    font-size: 1.7em;
    margin-bottom: .6em;
}

.form__subtitle {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

.form__button {
    width: 100%;
    padding: .7em 0;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--blue-1);
    border: none;
    color: var(--white-2);
    transition: all .2s;
    font-size: 1em;
    font-family: var(--fonte);
    margin: 6px 0;
}

.form__button:hover {
    background: var(--blue-hover);
}

.form__senha {
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 1em;
    font-size: 14px;
}

.senha--check {
    cursor: pointer;
}

.senha--checkbox {
    display: flex;
    align-items: center;
    gap: 4px;
}

.senha__link, .conta__link {
    color: var(--blue-1);
}